
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo a {
  color: black; 
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  gap: 15px;
}

.navbar-links a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #555; 
}

/* Responsive Styles for Mobile */
.navbar-menu-icon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.navbar-links-mobile {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 10px;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }

  .navbar-menu-icon {
    display: block;
  }

  .navbar-links.navbar-links-mobile {
    display: flex;
  }
}
  